{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "SystemPay transaction" %} {{ txn.pnref }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'systempay-list' %}">{% trans "SystemPay transactions" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Transaction {{ txn.trans_id }}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with id=txn.correlation_id %}
        Transaction {{ id }}
    {% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr><th>{% trans "Trans ID" %}</th><td>{{ txn.trans_id }}</td></tr>
            <tr><th>{% trans "Date" %}</th><td>{{ txn.date_created }}</td></tr>
            <tr><th>{% trans "Operation type" %}</th><td>{{ txn.operation_type|default:"-" }}</td></tr>
            <tr><th>{% trans "Amount" %}</th><td>{{ txn.amount|default:"-" }}</td></tr>
            <tr><th>{% trans "Currency" %}</th><td>{{ txn.currency }}</td></tr>
            <tr><th>{% trans "Result" %}</th><td>{{ txn.result }}</td></tr>
            <tr><th>{% trans "Status" %}</th><td>{{ txn.trans_status|default:"-" }}</td></tr>
            <tr><th>{% trans "Message" %}</th><td>{{ txn.result_message|default:"-" }}</td></tr>
            <tr><th>{% trans "Request params" %}</th><td>{{ txn.request|safe }}</td></tr>
            <tr><th>{% trans "Response params" %}</th><td>{{ txn.raw_request|safe }}</td></tr>
        </tbody>
    </table>
{% endblock dashboard_content %}
