{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "SystemPay transactions" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "SystemPay transactions" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "SystemPay Transactions" %}
{% endblock %}

{% block dashboard_content %}

    {% if transactions %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Trans ID" %}</th>
                    <th>{% trans "Mode" %}</th>
                    <th>{% trans "Order N°" %}</th>
                    <th>{% trans "Op. Type" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Message" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for txn in transactions %}
                    <tr>
                        <td><a href="{% url 'systempay-detail' txn.id %}">{{ txn.trans_id|default:"-" }}</a></td>
                        <td>{{ txn.mode }}</td>
                        <td>{{ txn.order_number }}</td>
                        <td>{{ txn.operation_type|default:"-" }}</td>
                        <td>{{ txn.amount|currency:txn.currency }}</td>
                        <td>{{ txn.date_created }}</td>
                        <td>{{ txn.trans_status|default:"-" }}</td>
                        <td>{{ txn.result_message}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>{% trans "No transactions have been made yet." %}</p>
    {% endif %}

{% endblock dashboard_content %}
